body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace
    }

a {color: white;}

.titre {
    color : rgb(13, 229, 81);
    font-size: 50px ;
    margin: 10px 200px 10px 50px;
    border-bottom : dashed;
    border-width: 10px;
    }

.italic {font-style: italic}

.habitation {color: lightpink}

.icone {
    max-width : 100px;
    height: auto;
    border-radius: 20%;
}

a:hover{   -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);}

.maphoto {
    max-width : 100px;
    height: auto;
    border-radius: 20%;
    margin-left: 30px;
    }


.topbox {justify-content: center;
        display: flex;
        padding: 30px
      }

.xp {padding: 0px 0px 0px 50px}

header, footer{
    display: flex;
    justify-content: space-evenly;
    font-family: sans-serif;
    border-bottom: solid white;
    margin: 5px;
    padding: 5px;
}

header > div {
    height: 50px;
}



/* .user-message {
    background-color: #e0f7fa;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.bot-message {
    background-color: #f5f5f5;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 80%;
    padding: 5px;
    margin-right: 5px;
} */

button {
    padding: 5px;
    cursor: pointer;
}

#chat-add {
    position: fixed;
    right: 10px;
    width: 400px;
    bottom : 10px;
    margin-top: 10px;
    text-align : left;
    padding: 10px;
    border: 5px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: rgb(13, 229, 81);;
    }

.chat-msg {border: 5px solid;
    background-color: white;
    color: black;}

.chat-question {
    border: 1px solid green;
    text-align : left;
    align-self: flex-end;    
}

.chat-reponse {
    border: 1px solid yellow;
    text-align : right;
    align-self: flex-start;
}